* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



.main {
    margin: auto;
    max-width: 1200px;
    min-width: 500px;
}

.header {
    position: fixed;
    font-size: 3em;
    text-align: center;
    height: 65px;
    background-color: black;
    color: white;
    width: calc(min(100%, 1200px));
}

.texte {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.footer {
    text-align: center;
    color: white;
}

.boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.box {
    margin-top: 60px;
    background-color: lightblue;
    font-size: 2em;
    text-align: justify;
    flex: 1;
    border: 1px solid black;
    gap: 5;

}

.largeBox {
    flex: 2 !important;
    background-color: white;
    text-align: justify;
    font-size: 2em;
}

.titreSecondaire {
    color: grey;
    font-size: larger;
}

.orderFirst {
    order: 1;
}

.orderCenter {
    order: 2;
}

.orderLast {
    order: 3;
}



@media screen and (max-width: 600px) {

    .boxContainer {
        display: block;
    }
    .box {
        margin-top: 60px;
        background-color: lightblue;
        font-size: 2em;
        text-align: justify;
        flex: 1;
        min-width: 700px;


    }

    .largeBox {
        flex: 3 !important;
        background-color: white;
        text-align: justify;
        font-size: 2em;
        min-width: 200px;
    }

}