* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}


.main {
    margin: auto;
    max-width: 1500px;
}

.header {
    position: fixed;
    top:0%;
    font-size: 3em;
    text-align: center;
    height: 60px;
    background-color: black;
    color: white;
    width: calc(min(100%, 1500px));
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif


}

.headerBuffer{
    height: 10px;
}

.texte {
    text-align: justify;
    font-family: sans-serif;
    padding-top: 20px;
}

.footer {
    position: fixed;
    bottom: 0px;
    font-size: 1.5em;
    text-align: center;
    height: 30px;
    background-color: black;
    color: white;
    width: calc(min(100%, 1500px));

}

.boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-bottom: 75px;
}

.box {
    margin-top: 60px;
    background-color: rgb(178,197,221);
    font-size: 1.2em;
    text-align: justify;
    flex: 1;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 25px;
    padding-top: 5px;

}

.largeBox {
    flex: 2 !important;
    background-color: white;
    text-align: justify;
    font-size: 1.5em;
}

.titreSecondaire {
    color: grey;
    font-size: 1.7em;
    padding-bottom: 5px;
    font-weight: bolder;
}

.titrePrimaire{
    color:black;
    padding-bottom: 10px;
    font-size:1.8em;
    font-weight: bolder;
    text-align:justify;
    padding-left: 5px;
}

.image{
    width: 100%;
    height: auto;
}

.orderFirst {
    order: 1;
}

.orderCenter {
    order: 2;
}

.orderLast {
    order: 3;
}



@media screen and (max-width: 1000px) {

    .boxContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        margin-bottom: 25px;
    }
    .box {
        margin-top: 60px;
        background-color: rgb(178,197,221);
        font-size: 1.15em;
        text-align: justify;
    }

    .largeBox {
        flex: 2 !important;
        background-color: white;
        text-align: justify;
        font-size: 1.5em;
    }

    .image{
        width: 50%;
        float:right;
        /* padding: 20px 20px 25px 20px; */
        margin: 20px 3px 20px 12px;
        margin-bottom: -10px;
    }

    .orderFirst {
        order: 1;
    }
    
    .orderCenter {
        order: 2;
    }
    
    .orderLast {
        order: 3;
    }

}